<!-- <h1> ma liste de doses</h1>
<!- each cocktail link vers nom cocktail(show > ingredient) -->
<!-- <ul>
<% @doses.each do |dose| %>
  <li><%= link_to dose.description, cocktail_dose_path %></li>
  <% end %>

</ul>
<%= link_to "new dose", new_cocktail_dose_path %>
 -->

<%= link_to "new dose", new_cocktail_dose_path %>
